<section class="login py-16">
    <div class="flex flex-col items-center justify-center mx-auto">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <% if(messages.error){ %>
                    <span class="text-red-600 text-sm"> <%= messages.error %> </span>
                <% } %>
                <form action="/login" method="POST" class="space-y-4 md:space-y-6">
                    <div>
                        <input type="email" name="email" id="email" class="border border-gray-300 text-gray-900 rounded-lg  w-full p-2.5" placeholder="Email.." required="">
                    </div>
                    <div>
                        <input type="password" name="password" id="password" placeholder="Password" class="border border-gray-300 text-gray-900 rounded-lg  w-full p-2.5" required="">
                    </div>

                    <button type="submit" class="btn-primary w-full text-white  rounded-lg  px-5 py-2.5 text-center">Sign in</button>
                    <div class="flex items-center justify-between">
                        <a href="/register" class="forget-password">Don't have an account?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>