@import './_variables.scss';


body{
    font-family: $font; 
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a{
    background-color: $primary;
    &:hover{
        background-color: $primary-hover;
    }
}

nav li a{
    transition: $smooth;
    &:hover{
        color: $primary;
    } 
}

section.hero{
    background-color: $secondary;
}

.size{
    background-color: $secondary;
}


.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background-color: $primary;
        border-color: $pure;
        color: $pure;
    }
}